body {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 21px;
  padding-left: 99px;
  padding-right: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

a {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 50px;
}

.banner {
  background-image: url(../images/banner.png);
  width: 1440px;
  height: 606px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner_text_1 {
  color: #fff;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 31px;
}

.banner_text_2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

